html {
    box-sizing: border-box;

    width: 100vw;
    height 100vh;

    margin: 0;
    padding: 0;

    font-family: arial;
}

body {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #0a1045;
    background-image: linear-gradient(to bottom right, #0b84db, #0a1045);
    background-size: cover !important;
    background-repeat: no-repeat;
}

caption {
    font-weight: bold;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);

    color: white;
}

thead, tbody {
    margin: 0.5em;
}

th {
    width: 1em;
    height: 1em;

    padding: 0.25em;

    font-size: 1em;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);

    color: white;
    background-image: linear-gradient(to bottom right, #faffb0, #faf16e);

    box-shadow: 0em 0em 0.15em rgba(171, 117, 36, 0.25);

    border-width: 0.05;
    border-style: solid;
    border-color: #faffb0;

    border-radius: 5px;
}

thead th:first-of-type {
    opacity: 0;
}

td {
    width: 1em;
    height: 1em;

    font-size: 1em;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);
    text-align: center;

    color: white;

    background-image: linear-gradient(to bottom right, #bffff9, #68fcfc);

    box-shadow: 0em 0em 0.15em rgba(36, 171, 162, 0.25);

    border-width: 0.05;
    border-style: solid;
    border-color: #bffff9;

    border-radius: 5px;
}

td[empty=false] {
    background-image: linear-gradient(to bottom right, rgb(50, 50, 50), rgb(25, 25, 25));
}

td[success=false] {
    background-image: linear-gradient(to bottom right, rgb(178, 34, 34), rgb(128, 0, 0));
}

td[success=true] {
    background-image: linear-gradient(to bottom right, rgb(50, 205, 50), rgb(0, 100, 0));
}

#player {
    position: absolute;
    top: 50vh;
    left: 0vw;

    transform: translate(25%, -50%);
}

#enemy {
     position: absolute;
     top: 50vh;
     right: 0vw;

     transform: translate(-25%, -50%);
 }