:root {
    --cell-size: 1em;
    --ships-color: grey;
    --color-empty: linear-gradient(to bottom right, rgb(50, 50, 50), rgb(25, 25, 25));
    --color-fail: linear-gradient(to bottom right, rgb(178, 34, 34), rgb(128, 0, 0));
    --color-success: linear-gradient(to bottom right, rgb(50, 205, 50), rgb(0, 100, 0));
    --color-test: linear-gradient(to bottom right, blue, greenyellow);
    --gizmo-color: white;
    --gizmo-size: 0.5em;
    --gizmo-index: 5;
    --gizmo-width: 1;
    --gizmo-height: 2;
}

html {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-family: arial;
}

body {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #0a1045;
    background-image: linear-gradient(to bottom right, #0b84db, #0a1045);
    background-size: cover !important;
    background-repeat: no-repeat;
}

caption {
    font-weight: bold;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);

    color: white;
}

thead, tbody {
    margin: 0.5em;
}

th {
    width: var(--cell-size);
    height: var(--cell-size);

    font-size: 1em;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);

    color: white;
    background-image: linear-gradient(to bottom right, #faffb0, #faf16e);

    box-shadow: 0em 0em 0.15em rgba(171, 117, 36, 0.25);

    border-width: 0.05px;
    border-style: solid;
    border-color: #faffb0;

    border-radius: 5px;
}

thead th:first-of-type {
    opacity: 0;
}

td {
    position: relative;;
    width: var(--cell-size);
    height: var(--cell-size);

    font-size: 1em;
    text-shadow: 0em 0em 0.15em rgba(171, 117, 36, 1);
    text-align: center;

    color: white;

    background-image: linear-gradient(to bottom right, #bffff9, #68fcfc);

    box-shadow: 0em 0em 0.15em rgba(36, 171, 162, 0.25);

    border-width: 0.05em;
    border-style: solid;
    border-color: #bffff9;

    border-radius: 5px;
}

td[empty=false] {
    background-image: var(--color-empty);
}

td[hasSalvo=true] {
    background-image: var(--color-test);
}

td[success=false] {
    background-image: var(--color-fail);
}

td[success=true] {
    background-image: var(--color-success);
}

/*#player {
    position: absolute;
    top: 50vh;
    left: 0vw;

    transform: translate(25%, -50%);
}

#enemy {
    position: absolute;
    top: 50vh;
    right: 0vw;

    transform: translate(-25%, -50%);
}*/

.ship {
    position: relative;
    background-color: var(--ships-color);
}

.ship[size="2"][orientation="horizontal"] {
    width: calc(2 * var(--cell-size));
    height: var(--cell-size);
    padding: 0.25em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.ship[size="2"][orientation="vertical"] {
    width: var(--cell-size);
    height: calc(2 * var(--cell-size));
    padding: 0.25em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.ship[size="3"][orientation="horizontal"] {
    width: calc(3 * var(--cell-size));
    height: var(--cell-size);
    padding: 0.25em;
    padding-right: 0.45em;
    padding-left: 0.45em;
}

.ship[size="3"][orientation="vertical"] {
    width: var(--cell-size);
    height: calc(3 * var(--cell-size));
    padding: 0.25em;
    padding-bottom: 0.45em;
    padding-top: 0.45em;
}

.ship[size="4"][orientation="horizontal"] {
    width: calc(4 * var(--cell-size));
    padding: 0.25em;
    padding-right: 0.65em;
    padding-left: 0.65em;
    height: var(--cell-size);
}

.ship[size="4"][orientation="vertical"] {
    width: var(--cell-size);
    height: calc(4 * var(--cell-size));
    padding: 0.25em;
    padding-bottom: 0.65em;
    padding-top: 0.65em;
}

.ship[size="5"][orientation="horizontal"] {
    width: calc(5 * var(--cell-size));
    height: var(--cell-size);
    padding: 0.25em;
    padding-right: 0.85em;
    padding-left: 0.85em;
}

.ship[size="5"][orientation="vertical"] {
    width: var(--cell-size);
    height: calc(5 * var(--cell-size));
    padding: 0.25em;
    padding-bottom: 0.85em;
    padding-top: 0.85em;
}

.gizmo-obj {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((var(--gizmo-width)) * var(--cell-size));
    height: calc((var(--gizmo-height)) * var(--cell-size));
    padding: 0.25em;
    z-index: var(--gizmo-index);
}

.gizmo-obj .ship {
    position: absolute;
    top: 0 !important;
    left: 0;
}

.gizmo-position, .gizmo-rotation, .gizmo-button {
    position: absolute;
    width: var(--gizmo-size);
    height: var(--gizmo-size);
    background-color: var(--gizmo-color);
    z-index: var(--gizmo-index);
}

.gizmo-rotation {
    display: block;
    position: absolute;
    top: calc(-1 * var(--cell-size));;
    right: calc(-1 * var(--cell-size));;
}

.gizmo-position[isBlocked=false] {
    display: block;
    position: absolute;
}

.gizmo-position[isBlocked=true] {
    display: none;
}

.gizmo-position[direction="north"] {
    top: calc(-1 * var(--cell-size));
    left: 50%;
    background-color:red;

    transform: translateX(-50%);
}

.gizmo-position[direction="south"] {
    bottom: calc(-1 * var(--cell-size));
    left: 50%;
    background-color: green;

    transform: translateX(-50%);
}

.gizmo-position[direction="west"] {
    top: 50%;
    left: calc(-1 * var(--cell-size));
    background-color: blue;

    transform: translateY(-50%);
}

.gizmo-position[direction="east"] {
    top: 50%;
    right: calc(-1 * var(--cell-size));
    background-color: yellow;

    transform: translateY(-50%);
}

#gizmo-accept {
    bottom: -50%;
    right: 100%;

    background-color: greenyellow;
}

#gizmo-cancel {
    bottom: -50%;
    left: 100%;

    background-color: lightgrey;
}